
ontologies/robot_implementation/ontology_downloads/ncbitaxon.owl
ontologies/robot_implementation/ontology_downloads/mondo.owl
ontologies/robot_implementation/ontology_downloads/ido.owl
ontologies/robot_implementation/ontology_downloads/ico.owl
ontologies/robot_implementation/ontology_downloads/iao.owl
ontologies/robot_implementation/ontology_downloads/htn.owl
ontologies/robot_implementation/ontology_downloads/hp.owl
ontologies/robot_implementation/ontology_downloads/go.owl
ontologies/robot_implementation/ontology_downloads/geno.owl
ontologies/robot_implementation/ontology_downloads/foodon.owl
ontologies/robot_implementation/ontology_downloads/fma.owl
ontologies/robot_implementation/ontology_downloads/efo.owl
ontologies/robot_implementation/ontology_downloads/dron-ingredient.owl
ontologies/robot_implementation/ontology_downloads/doid.owl
ontologies/robot_implementation/ontology_downloads/do.owl
ontologies/robot_implementation/ontology_downloads/core.owl
ontologies/robot_implementation/ontology_downloads/cl.owl
ontologies/robot_implementation/ontology_downloads/chebi.owl
ontologies/robot_implementation/ontology_downloads/.DS_Store
ontologies/robot_implementation/.DS_Store
ontologies/.DS_Store
.DS_Store
